@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-16.70%);
    }
}

.background-icons {
    height: 30px;
    padding: 30px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.firstRow {
    filter: blur(5px);
}

.secondRow {
    filter: blur(9px);
}

.background-slide {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: 5s slide infinite linear;
}