@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-16.70%);
    }
}

.background-icons {
    height: 34px;
    padding: 22px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    opacity: 0.45;
}

.firstRow {
    filter: blur(4px);
}

.secondRow {
    filter: blur(6px);
}

.background-slide {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: 12s slide infinite linear;
}