@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.portrait {
    --clr1: #2e0b1f;
    --clr2: #4f1664;
    --clr3: #923434;

    position: relative;
    overflow: visible;
    background: linear-gradient(rgb(58, 25, 41), rgba(14, 7, 20, 0.75));
    width: 27vw;
    height: clamp(80px, 58vh, 360px);
    border-radius: 20%;
    border-color: rgba(252, 154, 205, 0.25);
    border-width: 4px;
    border-style: solid;
    left: 14%;
    top: 18%;
    transition: height 0.15s;
}

.portrait:hover {
    border-color: rgba(255, 183, 220, 0.55);
}

.portrait::before,
.portrait::after {
    position: absolute;
    border-radius: inherit;
    content: "";
    inset: -0.3rem;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr1), 
        var(--clr2), 
        var(--clr3),
        var(--clr2),
        var(--clr1)
    );
    animation: rotation 8s infinite linear;
    z-index: -1;
}

.portrait::after {
    filter: blur(35px);
}

.splash {
    position: absolute;
    object-fit: contain;
    left: -5vw;
    top: -7vh;
    width: 135%;
    height: 125%;
    z-index: 2;
}

.info {
    position: absolute;
    background: transparent;
    overflow: visible;
    width: 42vw;
    height: 85vh;
    right: 10%;
    top: 10%;
    transition: height 0.15s;
}

.name {
    --clr1: #2e0b1f;
    --clr2: #4f1664;
    --clr3: #923434;

    position: relative;
    background: linear-gradient(rgb(39, 16, 31), rgba(39, 17, 106, 0.5));
    padding: 20px;
    font-size: 40px;

    transition: height 0.15s;
}

.name::before,
.name::after {
    position: absolute;
    content: "";
    inset: -.25rem;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr1), 
        var(--clr2), 
        var(--clr3),
        var(--clr2),
        var(--clr1)
    );
    animation: rotation 5s infinite linear;
    z-index: -1;
}

.name::after {
    filter: blur(0.5rem);
}

.description-container {
    --clr1: #2e0b1f;
    --clr2: #4f1664;
    --clr3: #923434;

    position: relative;
    background: linear-gradient(#240921, #10071d);
    align-content: center;
    width: 40vw;
    height: 45vh;
    border-radius: 10%;
    padding: 15px;
    top: 5%;

    transition: height 0.15s;
}

.description-container::before,
.description-container::after {
    position: absolute;
    content: "";
    border-radius: inherit;
    inset: -.25rem;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr1), 
        var(--clr2), 
        var(--clr3),
        var(--clr2),
        var(--clr1)
    );
    animation: rotation 8s infinite linear;
    z-index: -1;
}

.description-container::after {
    filter: blur(0.2rem);
}

.description {
    font-size: 24px;
    white-space: nowrap;
}

.stat-row {
    display: flex;
    align-items: center;
    gap: 2vw;
    overflow: visible;
}

.star {
    width: 9.5%;
    height: 9.5%;
    box-sizing: content-box;
    box-shadow: 0 0 0px 0px yellow;

    transition: width 0.5s, height 0.5s;
}

.star:hover {
    width: 11%;
    height: 11%;
    box-shadow: 0 0 2px 2px yellow;
}

@keyframes star-rotation {
    0% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-9deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 750px) {
    .portrait {
        height: clamp(150px, 40vh, 360px);
    }
    
    .info {
        height: clamp(100px, 70vh, 450px);
    }

    .description-container {
        height: 40vh;
    }

    .name {
        font-size: 30px;
    }

    .description {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .portrait {
        height: clamp(150px, 30vh, 200px);
    }

    .info {
        height: clamp(50px, 30vh, 350px);
    }

    .description-container {
        height: 30vh;
    }

    .name {
        font-size: 20px;
    }

    .description {
        font-size: 12px;
    }
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}