.logo-image {
    width: 85vw;
    height: auto;
}

.logo {
    animation: 2s dance infinite ease-in-out alternate;
}

@keyframes dance {
    100% { 
        -webkit-transform: rotate(55deg); 
        transform:rotate(5deg); 
    }
}

@media (max-width: 1000px) {
    .logo-image {
        width: 105vw;
    }
}