.logo-image {
    margin-top: 120px;
    width: 100%;
    max-width: 860px;
    height: auto;
    animation: intro 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes intro {
    0% {
        transform: rotate(-180deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

.logo {
    animation: float 5s ease-in-out infinite;
    transform-origin: center;
}

@keyframes float {
    0% { transform: translateY(0) rotate(-1deg); }
    50% { transform: translateY(-10px) rotate(1deg); }
    100% { transform: translateY(0) rotate(-1deg); }
}

@media (max-width: 1000px) {
    .logo-image { max-width: 320px; }
}