.download-button {
  border-radius: 32px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6c1313;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: border 0.15s;
}
.download-button:hover {
  border: 4px solid transparent;
  border-color: #ff6464;
}

@media (max-width: 1000px) {
  .download-button {
    padding: 0.5em 0.9em;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    background-color: #6c1313;
    cursor: pointer;
    transition: border-color 0.25s;
    transition: border 0.15s;
  }
}